/* turn on black mode */
body {
    background-color: #121212;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* make grid container */
.container {
    display: grid;
    grid-template-areas:
    "hd"
    "main"
    "sub"
    "ft";
}

@media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "hd hd hd hd hd hd"
        "main main main main sub sub"
        "ft ft ft ft ft ft";
    }

}

/* make header has logo and navi */
.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.logo {
    margin-left: 10vw;
    font-family: 'Dancing Script', cursive;
}

/* make navigation on header */
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding: 0;
}

/* make navi looks better */
.nav li {
    background-color: hsl(0, 0%, 12%);
    padding: 10px;
    border-radius: 10px 20px;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* for card in main*/
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

.back-img-one {
    background-image: url("../image/hanabi_family.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.back-img-two {
    background-image: url("../image/hanabi_kaichu.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.short-txt {
    margin-left: 30px;
}

/* make my sub and intro */
.sub {
    grid-area: sub;
}

.intro-me {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
}

.ft {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


