body {
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
    "hd hd cat cat cat"
    "main main main sd sd"
    "ft ft ft ft ft";
}