body {
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "main main main main sub sub"
    "ft ft ft ft ft ft";
}

.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px;
}

/* make navigation on header */
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.main {
    grid-area: main;
}

.sub {
    grid-area: sub;
}

.ft {
    grid-area: ft;
}